<h1><%= @cat.name%> </h1>



<table>
  <tr>
     <td> Birth Date </td>
     <td> Color </td>
     <td> Gender </td>
     <td> Description </td>
  </tr>
  <tr>
    <td> <%=@cat.birth_date%> </td>
    <td> <%=@cat.color%> </td>
    <td> <%=@cat.sex%> </td>
    <td> <%=@cat.description%> </td>
  </tr>
</table>

<h2> Rental Dates </h2>
<table>
  <tr>
    <td> Start Date </td>
    <td> End Date   </td>
    <td> Status     </td>
  </tr>
  <% @cat_rental_requests.each do |rental| %>
  <tr>
    <td> <%= rental.start_date %> </td>
    <td> <%= rental.end_date %> </td>
    <td> <%= rental.status %> </td>
    <td> <form action=<%= approve_url(rental) %>
      method="post">
      <button type="submit"> Approve Request</button>
    </form>
    </td>
    <td> <form action=<%= deny_url(rental) %>
      method="post">
      <button type="submit"> Deny Request</button>
    </form>
    </td>
  </tr>
  <% end %>
</table>

<p> <a href=<%= new_cat_rental_request_url %>>Rent a cat!!!!</a></p>
<p> <a href=<%= edit_cat_url(@cat) %>> Edit this cat </a></p>
<p> <a href=<%= cats_url %>> Back to cat list </a></p>